:root {
    --main-color: #031525;
    --main-color-2: #162c46;
    --main-color-3: #0d2136;
}
#container {
    min-height: 100vh;
    background: var(--main-color)!important;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container #form {
    background: var(--main-color-2)!important;
    width: 700px;
}
#form input {
    width: 100%;
    background: var(--main-color-3);
    color: white;
    font-size: large;
    font-weight: 500;
    border: 0px;
    border-radius: 4px;
    outline: 0px;
}
#form input::placeholder {
    color: white;
}
#form button {
    width: 100%;
    border: 0px;
    color: white;
    font-size: large;
    padding: 1rem;
}
#form #submit-btn {
    background: #7cacf8;
}