/* header */
#header {
    width: calc(100% - 280px);
    background: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 280px;
    z-index: 12345;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
}
#header.active {
    width: calc(100% - 80px);
    left: 80px;
}
/* header brand */
#header-brand {
    margin-left: -20px;
    display: flex;
    align-items: center;
}
/* sidebar */
#sidebar {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(50deg, rgba(104, 0, 148, 0.514), rgb(50, 0, 107));
    backdrop-filter: blur(20px);
    overflow: hidden;
    transition: 0.4s;
}
#sidebar.active {
    width: 80px;
    box-shadow: 1rem 1rem 0 1rem #22222210;
}
/* ul */
#navigation ul {
    margin: 0px;
    padding: 0px;
    padding-left: 1rem;
}
/* link */
#navigation ul .link {
    height: 60px;
    display: flex;
    align-items: center;
    grid: 1rem;
    font-size: large;
    font-weight: 500;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
/* media query */
@media screen and (max-width: 991px) {
    /* header */
    #header, #header.active {
        width: 100%;
        left: 0px;
        padding: 1rem 1.5rem;
    }
    /* user image */
    #user-image img {
        height: 40px;
        width: 40px;
    }
    /* sidebar */
    #sidebar {
        width: 0px;
        z-index: 123456;
    }
    #sidebar.active {
        width: 280px;
    }
}